EESDKLib/Wii/Debug
EESDKLib/Wii/Profile
EESDKLib/Wii/Release
EESDKLib/Win32/Debug
EESDKLib/Win32/Profile
EESDKLib/Win32/Release
EESDKLib/Xbox 360/Debug
Plugins2/Bin
Plugins2/ElementalEngine/DX9Renderer/Win32/Debug/
Plugins2/ElementalEngine/DX9Renderer/Win32/Profile/
Plugins2/ElementalEngine/DX9Renderer/Win32/Release/
Plugins2\ElementalEngine\DX9Renderer\ipch/
UnitTest/Win32/Debug/
UnitTest/Win32/Profile/
UnitTest/Win32/Release/
UnitTest/bin/win32/debug/Plugins/
UnitTest\bin/
src/Wii/Debug/
src/Wii/Profile/
src/Wii/Release/
src/Win32/Debug/
src/Win32/Profile/
src/Win32/Release/
ipch/
TestEERender/TestEERender/Debug/
TestEERender/Debug/
SDK\bin/
SDK\lib/
BuildLog/
Plugins2\Engine\DX9Renderer\Win32/
Plugins2\Engine\LoadSaveManager\Win32/
Plugins2\LoadSavers\TextureLoader\Win32/
SDK/bin/Win32/Debug/ElementalEngine3.bsc
TestEERender\Bin\Win32/
TestEERender/Profile/CL.read.1.tlog
TestEERender/Release/
Plugins2/Engine/OpenAL/Win32/
Plugins2/LoadSavers/SoundLoader/Win32/
EESDK/Wii/
EESDK/Win32/
EESDK/Xbox 360/Debug/BuildLog.htm
EESDK/bin/win32/Profile/ElementalEngine3.bsc
EESDK/bin/win32/debug/ElementalEngine3.bsc
EESDK/bin/win32/debug/elementalengine3.idb
EESDK/build/
EESDK/lib/
Plugins2/Engine/DX9Renderer/Win32/
TestEERender/Profile/
TestEERender/Bin/
TestEERender/TestEERender.sdf
build/
TestEERender/OpenGL/
TestEERender/fssimplewindow/
Plugins2/Engine/LoadSaveManager/Wii/Debug/
Plugins2/Engine/LoadSaveManager/Wii/Profile/
Plugins2/Engine/LoadSaveManager/Wii/Release/
Plugins2/Engine/LoadSaveManager/Win32/
Plugins2/LoadSavers/TextureLoader/Wii/
Plugins2/LoadSavers/TextureLoader/Win32/
